html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#middleText{
  margin-bottom: 0px!important;
  --border-radius: 600px!important;
}

#middleText > input[type="text"]{
  border-radius: 0px;
}

.icn{
  display: flex;
  justify-content: center;
}

.icn > img{
  border: 3px solid black;
  border-radius: 12.5%;
}

body > main > form > h1{
  font-size: 1.6rem!important;
}